@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'KFGQPC';
	src: url('/fonts/KFGQPC%20Uthmanic%20Script%20HAFS%20Regular.otf') format('opentype');
	font-weight: 400;
	font-display: swap;
}

html[lang='ar'],
[lang='ar'] {
	font-family: 'KFGQPC', 'Scheherazade New', serif;
}
